/* ----- FORMATAÇÃO GERAL ----- */

*{
    font-family: 'Lucida Sans Regular', sans-serif, arial;
}

.navbar, #informacoesRodape, #botaoCard {
    background-color: #FFB72B;
}

.nav-link {
    color: white;
    display: flex;
    text-shadow: 0px 4px 7px #d19722;
}

.nav-link:hover {
    color: white;
    font-weight: bolder;
    transition: 0.3s;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

nav h3 {
    color: white;
    text-shadow: 0px 4px 7px #d19722;
}

.card-img-top {
    border-radius: 15px 15px 0px 0px;
}

.img-fluid {
    border-radius: 10px;
}



/* ----- FORMATAÇÃO DA PÁGINA HOME ----- */

#tituloHome {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
    color: rgb(189, 123, 0);
}

.carrosselDestinos{
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#carouselHome{
    width: 50%;
}

#cards {
    width: 40%;
    display: flex;
    flex-direction: row;
} 

.card {
    width: 15rem;
    border-radius: 15px;
}

#botaoCard:hover {
    background-color: #e0a225;
}


/* ---- FORMATAÇÃO DA PÁGINA DESTINO ---- */

.tituloDestino {
    color: rgb(72, 133, 92);
}

.input-group {
  display: flex;
  width: 85%;
  align-items: center;
  align-content: center;
}

.input-group-text {
    background-color: rgb(152, 204, 123);
    color: white;
}

.formDestino {
    display: flex;
    background: linear-gradient(180deg, rgb(255, 183, 43), rgb(255, 255, 255));
    text-align: center;
} 



/* ---- FORMATAÇÃO DA PÁGINA PROMOÇÕES ---- */

.tituloPromocoes {
    color: #d89e20;
}

.tituloPromocoesCard {
    text-shadow: 0px 8px 8px #da8841;
}

.card-deck {
    display: flex;
    align-items:center;
    margin: 2rem;
    padding: 2rem;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    border-radius: 20px;
}

.estrelasCard {
    color: rgb(241, 241, 34);
    font-size: 1.2rem;
}

.cardLink {
    color: inherit;
}

.cardLink:hover {
    color: #385827;
    text-decoration: none;
    box-shadow: 0px 9px 16px #cf823e;
    transition: 0.4s;
}


/* ---- FORMATAÇÃO DA PÁGINA CONTATO ---- */

.container label, #tituloContato {
    color: #5f8f47;
}

#botaoEnviarFormulario {
    background-color: rgb(125, 190, 90);
    box-shadow: 5px 7px 15px #cecece;
}

#botaoEnviarFormulario:hover {
    background-color: rgb(105, 161, 75);
}

.formulario {
    border: none;
    border-radius: 10px;
    background: #f3f3f3;
    box-shadow: 5px 7px 15px #cecece;
    transition: 0.4s;
}

.formulario:focus {
    background: #ececec;
    box-shadow: inset 3px 3px 8px #cecece,
                    inset -4px -4px 10px #ffffff;
    transition: 0.4s;
}


/* ----- FORMATAÇÃO PARA RESPONSIVIDADE ----- */

@media(max-width: 848px){
    .carrosselDestinos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #carouselHome {
        width: 80%;
    }

    #cards {
        width: 80%;
        margin: 10px;
    }

    #informacoesRodape {
        height: 9em;
    }

    .card-title {
        font-size: 15px;
    }

    p {
        font-size: small;
    }
}

@media screen and (max-width: 971px) and (min-width: 576px){
    .card-deck {
        display:table-cell;    
    }
}
