*{
    font-family: 'Lucida Sans Regular', sans-serif, arial;
}

.navbar {
    background-color: #FFB72B;
    /*background-color: rgb(233, 140, 35);*/
}

.nav-link {
    color: white;
    display: flex;
    text-shadow: 0px 4px 7px #c05e1d;
}

.nav-link:hover {
    color: white;
    font-size: large;
    font-weight: bolder;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

nav h3 {
    color: white;
    text-shadow: 0px 4px 7px #c05e1d;
}

/* main {
    background-image: url(./imagens/sunse.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.input-group {
  display: flex;
  width: 85%;
  align-items: center;
  align-content: center;
}


.input-group-text {
    background-color: rgb(152, 204, 123);
    color: white;
}

.formDestino {
    display: flex;
    background: linear-gradient(180deg, rgb(255, 183, 43), rgb(255, 255, 255));

    text-align: center;
    width: 100%;
    height: 7rem;   
} 


#tituloHome {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
    color: rgb(189, 123, 0);
}

.carrosselDestinos{
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#carouselHome{
    width: 50%;
}

#cards {
    width: 40%;
    display: flex;
    flex-direction: row;
} 

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}

.card {
    width: 15rem;
    border-radius: 10px;
}

#botaoCard {
    color: white;
    background-color: #FFB72B;
}

#botaoCard:hover {
    background-color: #e0a225;
}


.img-fluid {
    border-radius: 10px;
}

#informacoesRodape {
    background-color: #FFB72B;
}



.tituloDestino {
    color: rgb(72, 133, 92);
}

.card-deck {
    display: flex;
    align-items:center;
    margin: 2rem;
    padding: 2rem;
    background: radial-gradient(#f3b32c, #92d56d);
    /*background: radial-gradient(rgb(146, 213, 109), rgb(243, 179, 44));*/

    border-radius: 15px;
}

.estrelasCard {
    color: rgb(241, 241, 34);
    font-size: 1.2rem;
}

.cardLink {
    color: inherit;
}

.cardLink:hover {
    color: inherit;
    text-decoration: none;
    box-shadow: 0px 8px 15px #96ac38;
}

.tituloPromocoes {
    text-shadow: 0px 8px 8px #80b45ee0;
}




@media(max-width: 848px){
    .carrosselDestinos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #carouselHome {
        width: 80%;
    }

    #cards {
        width: 80%;
        margin: 10px;
    }

    #informacoesRodape {
        height: 9em;
    }

    .card-title {
        font-size: 15px;
    }

    p {
        font-size: small;
    }

}

@media screen and (max-width: 971px) and (min-width: 576px){
    .card-deck {
        display:table-cell;    
    }
}


  

/*rgb(45, 203, 116)*/

/*rgb(91, 161, 114) verde do site*/

/*576px a 971px pagina promocoes*/